vlan 101
name control-data
exit
interface range gi0/1, gi0/2
switchport mode access
switchport access vlan 101
exit
ip access-list standard MGMT-ACCESS
permit {{ mgmt_subnet }} {{ mgmt_wildcard }}
permit {{ pc_subnet }} {{ pc_wildcard }}
exit
line vty 0 4
access-class MGMT-ACCESS in
exit